.card-main {
	display: block;
	padding: 22px;
	max-width: 800px;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	color: #000;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.card-main:focus {
	outline-color: 1px solid #000;
}

.card-main:hover {
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.card-main__img {
	display: block;
	margin-bottom: 14px;
	padding: 0 13px;
}

.card-main__title {
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 14px;
}

.card-main__price {
	font-weight: 700;
	font-size: 14px;
	text-align: end;
}