.coffee-block {
  padding-top: 70px;
  padding-bottom: 60px;
}

.coffee {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.coffee::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  margin-top: 60px;
  width: 240px;
  height: 1px;
  background-color: #000;
}

.coffee__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
}

.coffee-img {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
}

.coffee-img::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 60px;
  height: 1px;
  margin-right: 25px;
  background-color: #000;
}

.coffee-img::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0;
  width: 60px;
  height: 1px;
  margin-left: 25px;
  background-color: #000;
}

.coffee__text {
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 415px) {
	.coffee {
		display: block;
	}

	.coffee::after {
		display: none;
	}
}