.error-comp {
  padding-top: 70px;
  padding-bottom: 30px;
}

.error-comp__block {
	display: grid;
  grid-template-columns: repeat(2, 1fr);
	gap: 55px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.error-comp__img {
	width: 400px;
	height: 400px;
}

.error-comp__title {
	margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
}

.error-comp-img {
	position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 200px;
  text-align: center;
}

.error-comp-img::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 60px;
  height: 1px;
  margin-right: 25px;
  background-color: #000;
}

.error-comp-img::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 0;
  width: 60px;
  height: 1px;
  margin-left: 25px;
  background-color: #000;
}

.error-comp__text {
	margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}

@media (max-width: 415px) {
  .error-comp__block{
    display: block;
  }

	.error-comp__img {
		margin-bottom: 20px;
		width: 100%;
		height: 100%;
	}
}