.coffee-list {
	padding: 0 15px;
	padding-top: 60px;
	padding-bottom: 30px;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 25px;
	background-color: #fff;
}

@media (max-width: 768px) {
	.coffee-list {
		justify-content: space-between;
	}
}

@media (max-width: 480px) {
	.coffee-list {
		justify-content: center;
	}
}